@page "/counter"
@inject IJSRuntime JS
@using WebAppLaderLappen.Data

<h1>Counter</h1>
@if (positions.Count != 0)
{
    <p>Current count:@positions[0].XCord </p>
}
else
{
   <h1>No data yet</h1>
}
<canvas></canvas>

<button class="btn btn-primary" @onclick="GetPos">Click me</button>

@code {
    private PositionService positionService;
    private List<Position> positions = new List<Position>();

    protected override async Task OnInitializedAsync()
    {
        positionService = new PositionService();
        await JS.InvokeAsync<string>("createCanvas");

    }


    private async void GetPos()
    {
        positions = await positionService.GetPositionsAsync();
        Console.WriteLine("POOOOOSITION",positions[0].XCord);
    }
}