@page "/"

@inject IJSRuntime JS
@using WebAppLaderLappen.Data
@using System.Threading;
@using System.Threading.Tasks;

@*<button class="btn btn-primary" @onclick="GetPos">Click me</button>*@

@code {
    private PositionService positionService;
    private List<Position> positions = new List<Position>();

    protected override async Task OnInitializedAsync()
    {
        positionService = new PositionService();


    }
    protected override async void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeAsync<string>("createCanvas");
            await GetPos();
        }
        else
        {

        }
    }

    private async Task GetPos()
    {
        while (true)
        {
            positions = await positionService.GetPositionsAsync();
            for (int i = 0; i < positions.Count; i++)
            {
                await JS.InvokeAsync<string>("addMowerPos", positions[i].XCord, positions[i].YCord);

            }
            await Task.Delay(1000);
            Console.WriteLine("POOOOOSITION", positions[0].XCord);
        }


    }
}